<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jitendra.notificationdelay">
    <application>
        <receiver android:name="NotificationBroadcast" />
        <receiver
            android:name="com.clevertap.pushtemplates.PTPushNotificationReceiver"
            android:exported="false"
            android:enabled="true">
        </receiver>

        <receiver
            android:name="com.clevertap.pushtemplates.PushTemplateReceiver"
            android:exported="false"
            android:enabled="true">
        </receiver>
        <service
            android:name="com.clevertap.pushtemplates.PTNotificationIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.clevertap.PT_PUSH_EVENT"/>
            </intent-filter>
        </service>
    </application>
</manifest>